{% extends 'main/layout.html' %}
<!--peredacha iz etogo faila-->

{% block title  %} Новости на сайте {% endblock %}
{% block title2 %}
    <h2 class="about_yourself_h2_">Новости на сайте</h2><br>
{% endblock %}

{% block content  %}
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span> {{ error }} </span>
            <button type="submit" class="btn btn-success">ADd Article</button>
        </form>
{% endblock %}