{% extends 'main/layout.html' %}
{% block title %}Головна сторінка{% endblock %}

{% block title2 %}
    <h2 class="about_yourself_h2_">Резюме</h2>
{% endblock %}

{% block content %}
<div class="about_yourself_div11_">
    <div class="about_yourself_pers_data_">
        <h3>Особисті дані:</h3>
        <p>
            Фамілія Ім’я –  Бахчев Олексій <br>
            Номер телефону –  +380 96 498 03 90 <br>
            Email – bahchev2000@ukr.net <br>
        </p>
    </div>

    <div class="about_yourself_target_">
        <h3>Ціль: </h3>
        <p> Backend, frontend або python розробка. <br>
            Дуже хочу працювати з цікавою командою, бути корисним. І головне, хочу здобути безмежний досвід в ІТ сфері. Буду вивчати все, для роботи у команді.
        </p>
    </div>

    <div class="about_yourself_education_">
        <h3>Освіта:</h3>
        <p>
            Національний технічний університет «Дніпровська політехніка». <br>
            Спеціальність – комп’ютерна інженерія (закінчив бакалавр); <br>
            Комп’ютерна інженерія (магістр). <br>
            <b>Сертифікати:</b> <br>
            It Essentials – основи ІТ; Сертифікат - Html, Css
        </p>

    </div>

    <div class="about_yourself_skills_">
        <h3>Навички:</h3>
        <p>
            Windows, Virtual Box; <br>
            Html, Css, JavaScript; <br>
            Python, Django, Django REST Framework, Postman; <br>
            MySQL, Git; <br>
            Docker, PHP. <br>
            Початковий рівень : PHP, VueJS, Rabbit MQ, Docker (Готовий покращити ці знання)
        </p>
    </div>
    <div class="about_yourself_frame_">
        <h3>Фреймворки та мова:</h3>
        <p>
            Visual Studio, Visual Studio Code, PyCharm.; <br>
            Мова: <br>
            Українська мова <br>
            Англійська мова (середній) <br>

        </p>
    </div>

</div>
{% endblock %}